:root {
  --primary: #71dfe7;
  --font: #1b1d1b;
  --yellow: #ffaf00;
  --pink: #ff506f;
}
* {
  margin: 0;
  pading: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: var(--font);
  max-height: 2000px;
}
