:root {
  --primary: #71dfe7;
  --font: #1b1d1b;
  --yellow: #ffaf00;
  --pink: #ff506f;
}
* {
  margin: 0;
  pading: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: var(--font);
}
/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  algin-items: center;
  pading: 1rem 1rem;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 2rem;
  right: 2rem;
  z-index: 9999;
}
.nav-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
}
.nav-logo .ta-logo {
  color: var(--yellow);
}
.nav-logo .mu-logo {
  color: var(--pink);
}

.navbar .nav-menu a {
  color: var(--font);
  display: inline-block;
  font-size: 0.9rem;
  margin: 1rem 1rem;
}

.navbar .nav-menu a:hover {
  color: var(--pink);
}

.navbar .nav-menu a::after {
  content: "";
  display: block;
  pading-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linier;
}
.navbar .nav-menu a:hover::after {
  transform: scaleX(0.5);
}
/*hero */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: start;
  justify-content: space-around;
}
.img img {
  pading: 1rem 5rem;
  width: 400px;
  height: 500px;
  object-fit: contain;
  margin-top: 50px;
  object-fit: cover;
  object-position: center;
  margin-top: 100px;
}
.label-hero .a {
}
.label-hero .hell {
  margin-top: 130px;
}
